# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Generated Stuff
Makefile
moc_*
COMP3811-coursework
*.pro


# Temporary files
*~
# Hidden files
.*
